.nav-top-bar button{
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 16px;
    color: black;
    border: 0;
}

.nav-top-bar  button:hover{
    background-color: #eee;
}